
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<aside id="fh5co-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url('@Url.Content("~/client/images/contact_us.jpg")');">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center slider-text">
                            <div class="slider-text-inner">
                                <h1 class="heading-section">Contact us</h1>
                                <h2>Free html5 templates Made by <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>

<div id="fh5co-contact">
    <div class="container">
        @ViewBag.succ
        <div class="row">
            <div class="col-md-5 col-md-push-1 animate-box">

                <div class="fh5co-contact-info" align="left" style="font-size: 15px">
                    <h3>Contact Information</h3>
                    <ul>
                        <li class="address">212-214 Nguyen Dinh Chieu, <br> ward 6, District 3, Ho Chi Minh City</li>
                        <li class="phone"><a href="tel://1234567920">+ 84 1234 5678</a></li>
                        <li class="email"><a href="mailto:appchateproject@gmail.com">appchateproject@gmail.com</a></li>
                        <li class="url"><a href="http://freehtml5.co">aptech.co</a></li>
                    </ul>
                </div>

            </div>
            <div class="col-md-6 animate-box">
                <h3>Get In Touch</h3>
                <form asp-controller="contact" asp-action="send" method="post" onsubmit="return validateEmail('emailcontact');">
                    <div class="row form-group">
                        <div class="col-md-6">
                            <!-- <label for="fname">First Name</label> -->
                            <input type="text" name="fname" class="form-control" placeholder="Your firstname" required="required">
                        </div>
                        <div class="col-md-6">
                            <!-- <label for="lname">Last Name</label> -->
                            <input type="text" name="lname" class="form-control" placeholder="Your lastname" required="required">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <!-- <label for="email">Email</label> -->
                            <input type="email" name="email" class="form-control" placeholder="Your email address" required="required" id="emailcontact">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <!-- <label for="email">Email</label> -->
                            <input type="number" name="phone" class="form-control" placeholder="Your phone number" min="0" maxlength="18" required="required">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <!-- <label for="subject">Subject</label> -->
                            <input type="text" name="subject" class="form-control" placeholder="Your subject of this message" required="required">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <!-- <label for="message">Message</label> -->
                            <textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Say something about us" required="required"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Send Message" class="btn btn-primary">
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>
<div id="map" class="fh5co-map"></div>

<div id="fh5co-register" style="background-image: url('@Url.Content("~/client/images/img_bg_3.jpg")');">
    <div class="overlay"></div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 animate-box">
            <div class="date-counter text-center">
                <h2>Get 400 of Online Courses for Free</h2>
                <h3>By Mike Smith</h3>
                <div class="simply-countdown simply-countdown-one"></div>
                <p><strong>Limited Offer, Hurry Up!</strong></p>
                <p><a href="#" class="btn btn-primary btn-lg btn-reg">Register Now!</a></p>
            </div>
        </div>
    </div>
</div>
