
@{
    ViewData["Title"] = "Success";
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
}
<div align="center">
    <h1 >@ViewBag.succ</h1>
    <a asp-controller="feelback" asp-action="index">Back</a>
</div>

