
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!-- MAIN CONTENT-->

<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="overview-wrap">
                    <h2 class="title-1">Course List</h2>
                    @*<button class="au-btn au-btn-icon au-btn--blue">
                        <i class="zmdi zmdi-plus"></i>add item
                    </button>*@
                </div>
            </div>
        </div>
        <div class="row m-t-25">
            @foreach (var course in ViewBag.courses)
            {


                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c2">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon">
                                    <a asp-area="admin" asp-controller="finance" asp-action="financereport" asp-route-facultyid="@ViewBag.faculty.AccountId" asp-route-courseid="@course.CourseId"><i class="zmdi zmdi-home"></i></a>

                                </div>
                                <div class="text">
                                    <h2>@course.CourseName</h2>
                                    <span>@course.Desc</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>



    </div>
</div>

