<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="~/admin/images/icon/logo.png" alt="Cool Admin" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-tachometer-alt"></i>Dashboard
                    </a>
                </li>
                <li>
                    <a asp-controller="profile" asp-action="index">
                        <i class="fas fa-chart-bar"></i>Profile
                    </a>
                </li>
                <li>
                    <a asp-controller="schedule" asp-action="index">
                        <i class="fas fa-table"></i>Schedule
                    </a>
                </li>
                <li>
                    <a asp-controller="testschedule" asp-action="index">
                        <i class="far fa-check-square"></i>Test schedule
                    </a>
                </li>
                <li>
                    <a asp-controller="attendance" asp-action="index">
                        <i class="fas fa-map-marker-alt"></i>Attendance
                    </a>
                </li>
                <li>
                    <a asp-controller="mark" asp-action="index">
                        <i class="fas fa-calendar-alt"></i>Mark
                    </a>
                </li>
                <li>
                    <a asp-controller="batch" asp-action="index">
                        <i class="fas fa-calendar-alt"></i>Batch
                    </a>
                </li>
                <li>
                    <a asp-controller="reports" asp-action="index">
                        <i class="fas fa-chart-bar"></i>Reports
                    </a>
                </li>
                <li>
                    <a asp-controller="pays" asp-action="index">
                        <i class="fas fa-map-marker-alt"></i>Pay
                    </a>
                </li>
                <li>
                    <a asp-controller="enquiries" asp-action="index">
                        <i class="fas fa-map-marker-alt"></i>Enquiry
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
<script>

</script>
