<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="~/admin/images/Capture.jpg" style="width:229px; height:77px"   alt="Zeal Education" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active has-sub">
                    <a class="js-arrow" asp-controller="dashboard" asp-action="index">
                        <i class="fas fa-tachometer-alt"></i>Dashboard
                    </a>
                </li>
                <li>
                    <a asp-controller="profile" asp-action="index">
                        <i class="fas fa-user"></i>Profile
                    </a>
                </li>
                <li>
                    <a asp-controller="schedule" asp-action="index">
                        <i class="fas fa-table"></i>Schedule
                    </a>
                </li>
                <li>
                    <a asp-controller="testschedule" asp-action="index">
                        <i class="fas fa-table"></i>Test schedule
                    </a>
                </li>
                <li>
                    <a asp-controller="attendance" asp-action="index">
                        <i class="fa fa-calendar-check-o"></i>Attendance
                    </a>
                </li>
                <li>
                    <a asp-controller="mark" asp-action="index">
                        <i class="fas fa-table"></i>Mark
                    </a>
                </li>
                <li>
                    <a asp-controller="reports" asp-action="index">
                        <i class="fas fa-align-justify"></i>Reports
                    </a>
                </li>
                <li>
                    <a asp-controller="pays" asp-action="index">
                        <i class="fab fa-paypal"></i>Pay
                    </a>
                </li>
                <li>
                    <a asp-controller="feelback" asp-action="index">
                        <i class="fas fa-paper-plane"></i>Feelback
                    </a>
                </li>
                <li>
                    <a asp-controller="enquiries" asp-action="index">
                        <i class="fas fa-list-alt"></i>Enquiry
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
<script>

</script>
